<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

    <form method="POST" action="/reverse">
      <input type="text" name="name\n">
      <input type="text" name="coach"\n>
      <input type="text" name="pg"\n>
      <input type="text" name="sg"\n>
      <input type="text" name="pf"\n>
      <input type="text" name="sf"\n>
      <input type="text" name="c"\n>
    </form>
 </body>
</html>
